@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col offset-1">
            <a href="https://www.mosenergosbyt.ru/common/about/" class="btn btn-success center" style="height:100px; color:white; width:400px;"><p>Об организации</p></a>
        </div>
    </div>
    <div class="row">
        <div class="col offset-7">
            <a asp-controller="Home" asp-action="Clients" class="btn btn-success center" style="height:100px; color:white; width:400px;"><p>Клиенту</p></a>
        </div>
    </div>
</div>