
@{Layout = null;}
<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AfterLoadFile</title>
</head>
<body>
    <div>
        File Uploaded
    </div>
</body>
</html>
